<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/output.css">
  <title><%= locals.title %></title>
</head>
<body class="bg-neutral-100 min-h-screen relative">
  <nav class="flex flex-row z-10 justify-between items-center py-4 px-12 bg-neutral-50/80 drop-shadow-sm fixed right-0 left-0 top-0 backdrop-blur-md border-b-2 border-solid border-neutral-100/95">
    <a href="/" class="text-2xl font-bold text-transparent bg-gradient-to-b from-neutral-900 to-neutral-700 bg-clip-text">Droid Depot</a>
    <ul class="flex flex-row gap-8">
      <li><a class="text-neutral-500 hover:text-neutral-900 transition-all" href="/products">All Products</a></li>
      <li><a class="text-neutral-500 hover:text-neutral-900 transition-all" href="/categories">All Categories</a></li>
      <li><a class="text-neutral-500 hover:text-neutral-900 transition-all" href="/products/create">Add a Product</a></li>
      <li><a class="text-neutral-500 hover:text-neutral-900 transition-all" href="/categories/create">Add a Category</a></li>
    </ul>
  </nav>
  <main class="flex flex-col gap-4 pb-12 px-12 pt-24 min-h-screen">
    <h1 class="text-6xl font-bold pb-4 text-transparent bg-clip-text bg-gradient-to-b from-neutral-900 to-neutral-600">All Products</h1>
    <% if (locals.productList.length >= 1) { %>
      <div class="h-full grid gap-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
        <% for (let i = 0; i < locals.productList.length; i++) { %>
          <a href="/products/<%= locals.productList[i]._id %>" target="_blank">
            <div class="rounded-lg overflow-hidden flex flex-col bg-neutral-50 drop-shadow-sm hover:drop-shadow-xl transition-all h-96">
              <% if (locals.productList[i].image && locals.productList[i]) { %>
                <img class="h-64 object-cover" src="data:image/<%= locals.productList[i].image?.contentType %>;base64,<%= locals.productList[i].image?.data?.toString('base64') %>">
              <% } else { %>
                <div class="h-64 bg-neutral-200 flex justify-center items-center">
                  <p class="font-bold text-xl text-neutral-500">No Image :(</p>
                </div>
              <% } %>
              <div class="flex flex-col gap-2 p-4">
                <h3 class="text-xl font-bold"><%= locals.productList[i].name %></h3>
                <p class="text-neutral-500"><%= locals.productList[i].category.name %></p>
                <p class="text-lg font-bold">$<%= locals.productList[i].price %></p>
              </div>
            </div>
          </a>
        <% } %>
      </div>
    <% } else { %>
      <h3 class="text-2xl font-bold text-neutral-400">There aren't any products yet...</h3>
    <% } %>
  </main>
</body>
</html>